# Copy this file to application.properties in src/main/resources and fill in the mapbox style WMS endpoint, 
# including the user name, style ID,  and access token
# Don't commit the mapbox token to github!

server.port=8081
spring.data.mongodb.database=ConflictMonitor
spring.data.mongodb.host=${DOCKER_HOST_IP:localhost}
spring.data.mongodb.port=27017

cmServerURL = ${CM_SERVER_URL:http://localhost:8082}
cors=*
maximumResponseSize=10000

spring.main.allow-circular-references=true
security.enabled=true
# logging.level.org.keycloak=DEBUG 


# spring.mail.username=
# spring.mail.password=
spring.mail.host=localhost
spring.mail.port=2525
spring.mail.properties.mail.smtp.auth=false
spring.mail.properties.mail.smtp.starttls.enable=true

load=false


### General Email Settings

#Email Broker Options: sendgrid , postmark,  anything else will use generic SMTP mail server. 
emailBroker=
emailFromAddress=


### Spring Mail Settings
# spring.mail.username=jwiens@neaeraconsulting.com
# spring.mail.password=
spring.mail.host=localhost
spring.mail.port=1025
spring.mail.properties.mail.smtp.auth=false
spring.mail.properties.mail.smtp.starttls.enable=true



### SendGrid Email Settings
sendgrid.username=
sendgrid.password=


### Postmark Email Settings
postmark.api.secretKey=