# Copy this file to application.properties in src/main/resources and fill in the mapbox style WMS endpoint, 
# including the user name, style ID,  and access token
# Don't commit the mapbox token to github!

server.port=8081
spring.data.mongodb.database=ConflictMonitor
spring.data.mongodb.host=${DOCKER_HOST_IP}
spring.data.mongodb.port=27017


cors=http://172.250.250.181:3000
maximumResponseSize=1000

spring.main.allow-circular-references=true
security.enabled=true
