PYTHONPATH=/home
* * * * * /usr/local/bin/python3 /home/rsu_ping_fetch.py
* * * * * /usr/local/bin/python3 /home/rsu_pinger.py
0 0 * * * /usr/local/bin/python3 /home/purger.py
0 */4 * * * /usr/local/bin/python3 /home/rsu_snmp_fetch.py
