services:
  # OBU OTA Server and Nginx proxy services
  jpo_ota_backend:
    build:
      context: ./services
      dockerfile: Dockerfile.obu_ota_server
    image: obu_ota_server:latest
    restart: unless-stopped
    ports:
      - 8085:8085
    environment:
      SERVER_HOST: ${OBU_OTA_SERVER_HOST}
      LOGGING_LEVEL: ${OBU_OTA_LOGGING_LEVEL}
      BLOB_STORAGE_PROVIDER: ${BLOB_STORAGE_PROVIDER}
      BLOB_STORAGE_BUCKET: ${OBU_OTA_BLOB_STORAGE_BUCKET}
      BLOB_STORAGE_PATH: ${OBU_OTA_BLOB_STORAGE_PATH}

      OTA_USERNAME: ${OTA_USERNAME}
      OTA_PASSWORD: ${OTA_PASSWORD}

      PG_DB_HOST: ${PG_DB_HOST}
      PG_DB_NAME: ${PG_DB_NAME}
      PG_DB_USER: ${PG_DB_USER}
      PG_DB_PASS: ${PG_DB_PASS}

      MAX_COUNT: ${MAX_COUNT}
      NGINX_ENCRYPTION: ${NGINX_ENCRYPTION}
    volumes:
      - ./resources/ota/firmwares:/firmwares
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  jpo_ota_nginx:
    build:
      context: resources/ota/nginx
    image: obu_ota_nginx:latest
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    environment:
      NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx
      SERVER_HOST: ${OBU_OTA_SERVER_HOST}
    volumes:
      - ./resources/ota/nginx/nginx-${NGINX_ENCRYPTION}.conf:/etc/nginx/templates/nginx.conf.template
      - ./resources/ota/nginx/gen_dhparam.sh:/docker-entrypoint.d/gen_dhparam.sh
      - ./resources/ota/nginx/ssl/${SERVER_CERT_FILE}:/etc/ssl/certs/ota_server.crt
      - ./resources/ota/nginx/ssl/${SERVER_KEY_FILE}:/etc/ssl/private/ota_server.key
    depends_on:
      - jpo_ota_backend
    logging:
      options:
        max-size: '10m'
        max-file: '5'
