include:
  - ./jpo-utils/docker-compose-mongo.yml
  - ./jpo-utils/docker-compose-connect.yml

services:
  conflictmonitor:
    profiles:
      - conflictmonitor
      - conflictmonitor_only
    image: usdotjpoode/jpo-conflictmonitor:latest
    restart: ${RESTART_POLICY}
    ports:
      - '8082:8082'
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP:?error}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS:?error}
    healthcheck:
      test: ['CMD', 'java', '-version']
      interval: 10s
      timeout: 10s
      retries: 20
    logging:
      options:
        max-size: '10m'
        max-file: '5'
    deploy:
      resources:
        limits:
          memory: 3G
    depends_on:
      kafka:
        condition: service_healthy
        required: false
      kafka-setup:
        condition: service_started

  ode:
    profiles:
      - conflictmonitor
      - ode
    image: usdotjpoode/jpo-ode:latest
    restart: ${RESTART_POLICY}
    ports:
      - '8080:8080'
      - '9090:9090'
      - '46753:46753/udp'
      - '46800:46800/udp'
      - '47900:47900/udp'
      - '44900:44900/udp'
      - '44910:44910/udp'
      - '44920:44920/udp'
      - '44930:44930/udp'
      - '44940:44940/udp'
      - '44990:44990/udp'
      - '5555:5555/udp'
      - '6666:6666/udp'
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP:?error}
      ODE_TIM_INGEST_MONITORING_ENABLED: true
      ODE_TIM_INGEST_MONITORING_INTERVAL: 60
      DATA_SIGNING_ENABLED_RSU: false
      DATA_SIGNING_ENABLED_SDW: false
      ODE_KAFKA_BROKERS: ${DOCKER_HOST_IP}:9092
      KAFKA_LINGER_MS: 1
      KAFKA_BATCH_SIZE: 16384
      KAFKA_RETRIES: 0
    depends_on:
      kafka:
        condition: service_healthy
        required: false
    healthcheck:
      test: ['CMD', 'wget', '--spider', 'http://localhost:8080']
      interval: 5s
      timeout: 30s
      retries: 5
      start_period: 10s
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  adm:
    profiles:
      - conflictmonitor
      - adm
    image: usdotjpoode/asn1_codec:latest
    restart: ${RESTART_POLICY}
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP}
      KAFKA_TYPE: ${KAFKA_TYPE}
      CONFLUENT_KEY: ${CONFLUENT_KEY}
      CONFLUENT_SECRET: ${CONFLUENT_SECRET}
      ACM_CONFIG_FILE: adm.properties
      ACM_LOG_TO_CONSOLE: ${ADM_LOG_TO_CONSOLE}
      ACM_LOG_TO_FILE: ${ADM_LOG_TO_FILE}
      ACM_LOG_LEVEL: ${ADM_LOG_LEVEL}
    depends_on:
      kafka:
        condition: service_healthy
        required: false
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  aem:
    profiles:
      - conflictmonitor
      - aem
    image: usdotjpoode/asn1_codec:latest
    restart: ${RESTART_POLICY}
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP}
      KAFKA_TYPE: ${KAFKA_TYPE}
      CONFLUENT_KEY: ${CONFLUENT_KEY}
      CONFLUENT_SECRET: ${CONFLUENT_SECRET}
      ACM_CONFIG_FILE: aem.properties
      ACM_LOG_TO_CONSOLE: ${AEM_LOG_TO_CONSOLE}
      ACM_LOG_TO_FILE: ${AEM_LOG_TO_FILE}
      ACM_LOG_LEVEL: ${AEM_LOG_LEVEL}
    depends_on:
      kafka:
        condition: service_healthy
        required: false
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  geojsonconverter:
    profiles:
      - conflictmonitor
      - geojsonconverter
    image: usdotjpoode/geojsonconverter:latest
    restart: ${RESTART_POLICY}
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP:?error}
      geometry.output.mode: GEOJSON_ONLY
      spring.kafka.bootstrap-servers: ${DOCKER_HOST_IP:?error}:9092
    logging:
      options:
        max-size: '10m'
        max-file: '5'
    depends_on:
      kafka:
        condition: service_healthy
        required: false

volumes:
  ode_vol:
