# This file is used to build the webapp image for deployment.
# The COUNTS_MSG_TYPES and DOT_NAME variables must be set in .env before building to populate
# correctly in the deployed webapp as they are build-time variables.
services:
  cvmanager_webapp:
    build:
      context: webapp
      dockerfile: Dockerfile
      args:
        API_URI: ${API_ENDPOINT:?error}
        MAPBOX_TOKEN: ${MAPBOX_TOKEN:?error}
        KEYCLOAK_HOST_URL: ${KEYCLOAK_ENDPOINT:?error}
        COUNT_MESSAGE_TYPES: ${COUNTS_MSG_TYPES:-BSM,SSM,SPAT,SRM,MAP}
        VIEWER_MESSAGE_TYPES: ${VIEWER_MSG_TYPES:-BSM}
        DOT_NAME: ${DOT_NAME:-CDOT}
        MAPBOX_INIT_LATITUDE: ${MAPBOX_INIT_LATITUDE:-39.7392}
        MAPBOX_INIT_LONGITUDE: ${MAPBOX_INIT_LONGITUDE:--104.9903}
        MAPBOX_INIT_ZOOM: ${MAPBOX_INIT_ZOOM:-10}
        CVIZ_API_SERVER_URL: ${CVIZ_API_SERVER_URL}
        CVIZ_API_WS_URL: ${CVIZ_API_WS_URL}
        ENABLE_RSU_FEATURES: ${ENABLE_RSU_FEATURES:-True}
        ENABLE_INTERSECTION_FEATURES: ${ENABLE_INTERSECTION_FEATURES:-True}
        ENABLE_WZDX_FEATURES: ${ENABLE_WZDX_FEATURES:-True}
    image: jpo_cvmanager_webapp:latest
    restart: always
    logging:
      options:
        max-size: '10m'
