include:
  - ./jpo-utils/docker-compose-kafka.yml
  - ./jpo-utils/docker-compose-mongo.yml

services:
  intersection_api:
    profiles:
      - intersection
      - intersection_api
    image: intersection-api:latest
    build:
      context: ./services
      dockerfile: Dockerfile.intersection-api
      args:
        MAVEN_GITHUB_TOKEN: ${MAVEN_GITHUB_TOKEN:?error}
        MAVEN_GITHUB_ORG: ${MAVEN_GITHUB_ORG:-usdot-jpo-ode}
    ports:
      - '8089:8089'
    restart: always
    environment:
      AUTH_SERVER_URL: ${KEYCLOAK_ENDPOINT:-http://cvmanager_keycloak:8084}
      DB_HOST_IP: ${DB_HOST_IP:-mongo}
      DB_HOST_PORT: ${DB_HOST_PORT:-27017}
      SPRING_KAFKA_BOOTSTRAPSERVERS: ${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
      CM_SERVER_URL: ${CM_SERVER_URL:-http://conflictmonitor:8082}
      load: 'false'
      KAFKA_TYPE: 'ON-PREM'
      ACM_CONFIG_FILE: adm.properties
      ACM_LOG_TO_CONSOLE: true
      ACM_LOG_TO_FILE: false
      ACM_LOG_LEVEL: DEBUG
      MONGO_READ_WRITE_USER: ${MONGO_READ_WRITE_USER:-ode}
      MONGO_READ_WRITE_PASS: ${MONGO_READ_WRITE_PASS:-replace_me}
      CM_MAXIMUM_RESPONSE_SIZE: ${CM_MAXIMUM_RESPONSE_SIZE:-10000}
      SPRING_DATA_MONGODB_DATABASE: ${CM_DATABASE_NAME:-CV}

      KEYCLOAK_CLIENT_API_ID: ${KEYCLOAK_API_CLIENT_ID:-cvmanager-api}
      KEYCLOAK_CLIENT_API_SECRET: ${KEYCLOAK_API_CLIENT_SECRET_KEY:-keycloak-secret-key}

      KAFKA_BROKER_IP: ${KAFKA_BROKER_IP:-kafka}
      KAFKA_BROKER_PORT: ${KAFKA_BROKER_PORT:-5432}

      PG_DB_USER: ${PG_DB_USER:-postgres}
      PG_DB_PASS: ${PG_DB_PASS:-postgres}
      POSTGRES_SERVER_URL: jdbc:postgresql://${PG_DB_HOST:-cvmanager_postgres:5432}

      INTERSECTION_API_ENABLE_API: ${INTERSECTION_API_ENABLE_API:-True}
      INTERSECTION_API_ENABLE_EMAILER: ${INTERSECTION_API_ENABLE_EMAILER:-false}
      INTERSECTION_API_ENABLE_REPORTS: ${INTERSECTION_API_ENABLE_REPORTS:-false}

      BASE_ROUTE_PREFIX: ${INTERSECTION_API_ROUTE_PREFIX:-/}
      DOCKER_HOST_IP: ${DOCKER_HOST_IP:-host.docker.internal}
    entrypoint:
      - sh
      - -c
      - |
        java -Djava.rmi.server.hostname=$DOCKER_HOST_IP -Dcom.sun.management.jmxremote.port=9090 -Dcom.sun.management.jmxremote.rmi.port=9090 -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.local.only=true -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dlogback.configurationFile=/home/logback.xml -jar /home/intersection-api.jar
    logging:
      options:
        max-size: '10m'
        max-file: '5'
    depends_on:
      cvmanager_keycloak:
        condition: service_healthy
        required: false
      mongo:
        condition: service_healthy
        required: false
      kafka-setup:
        condition: service_started
        required: false
