services:
  jpo_count_metric:
    profiles:
      - addons
      - jpo_count_metric
    build:
      context: ./services
      dockerfile: Dockerfile.count_metric
    image: count_metric:latest
    restart: on-failure:3
    environment:
      ENABLE_EMAILER: ${ENABLE_EMAILER:-}
      DEPLOYMENT_TITLE: ${DEPLOYMENT_TITLE:-}

      SMTP_SERVER_IP: ${SMTP_SERVER_IP}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_EMAIL: ${SMTP_EMAIL}

      MESSAGE_TYPES: ${COUNT_MESSAGE_TYPES:-BSM,SSM,SPAT,SRM,MAP}
      PROJECT_ID: ${GCP_PROJECT_ID:-}

      PG_DB_HOST: ${PG_DB_HOST:-cvmanager_postgres:5432}
      PG_DB_NAME: ${PG_DB_NAME:-postgres}
      PG_DB_USER: ${PG_DB_USER:-postgres}
      PG_DB_PASS: ${PG_DB_PASS:-postgres}

      DESTINATION_DB: ${COUNT_DESTINATION_DB:-MONGODB}

      MONGO_DB_URI: ${MONGO_DB_URI:-mongodb://${MONGO_READ_WRITE_USER:-ode}:${MONGO_READ_WRITE_PASS:-replace-me}@${DB_HOST_IP:-mongo}:${DB_HOST_PORT:-27017}/?directConnection=true&authSource=admin}
      MONGO_DB_NAME: ${CM_DATABASE_NAME:-CV}
      INPUT_COUNTS_MONGO_COLLECTION_NAME: ${INPUT_COUNTS_MONGO_COLLECTION_NAME:-}
      OUTPUT_COUNTS_MONGO_COLLECTION_NAME: ${OUTPUT_COUNTS_MONGO_COLLECTION_NAME:-}

      KAFKA_BIGQUERY_TABLENAME: ${KAFKA_BIGQUERY_TABLENAME:-}

      LOGGING_LEVEL: ${COUNTS_LOGGING_LEVEL:-}
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  rsu_status_check:
    profiles:
      - addons
      - rsu_status_check
    build:
      context: ./services
      dockerfile: Dockerfile.rsu_status_check
    image: rsu_status_check:latest
    restart: on-failure:3
    environment:
      RSU_PING: ${RSU_PING:-True}
      ZABBIX: ${ZABBIX:-False}
      RSU_MSGFWD_FETCH: ${RSU_MSGFWD_FETCH:-True}

      ZABBIX_ENDPOINT: ${ZABBIX_ENDPOINT:-}
      ZABBIX_USER: ${ZABBIX_USER:-}
      ZABBIX_PASSWORD: ${ZABBIX_PASSWORD:-}

      STALE_PERIOD: ${STALE_PERIOD:-24}

      PG_DB_HOST: ${PG_DB_HOST:-cvmanager_postgres:5432}
      PG_DB_NAME: ${PG_DB_NAME:-postgres}
      PG_DB_USER: ${PG_DB_USER:-postgres}
      PG_DB_PASS: ${PG_DB_PASS:-postgres}

      LOGGING_LEVEL: ${RSU_STATUS_LOGGING_LEVEL:-}
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  jpo_iss_health_check:
    profiles:
      - addons
      - jpo_iss_health_check
    build:
      context: ./services
      dockerfile: Dockerfile.iss_health_check
    image: iss_health_check:latest
    restart: on-failure:3
    depends_on:
      cvmanager_postgres:
        condition: service_healthy
        required: false
    environment:
      STORAGE_TYPE: ${STORAGE_TYPE:-postgres}

      ISS_API_KEY: ${ISS_API_KEY:-}
      ISS_API_KEY_NAME: ${ISS_API_KEY_NAME:-}
      ISS_PROJECT_ID: ${ISS_PROJECT_ID:-}
      ISS_SCMS_TOKEN_REST_ENDPOINT: ${ISS_SCMS_TOKEN_REST_ENDPOINT:-}
      ISS_SCMS_VEHICLE_REST_ENDPOINT: ${ISS_SCMS_VEHICLE_REST_ENDPOINT:-}
      ISS_KEY_TABLE_NAME: ${ISS_KEY_TABLE_NAME:-}

      PG_DB_HOST: ${PG_DB_HOST:-cvmanager_postgres:5432}
      PG_DB_NAME: ${PG_DB_NAME:-postgres}
      PG_DB_USER: ${PG_DB_USER:-postgres}
      PG_DB_PASS: ${PG_DB_PASS:-postgres}

      PROJECT_ID: ${GCP_PROJECT_ID:-}
      GOOGLE_APPLICATION_CREDENTIALS: /home/gcp_key.json

      LOGGING_LEVEL: ${ISS_LOGGING_LEVEL:-}
    volumes:
      - ./resources/google/${GOOGLE_ACCESS_KEY_NAME:-}:/home/gcp_key.json
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  firmware_manager_upgrade_scheduler:
    profiles:
      - addons
      - firmware_manager_upgrade_scheduler
    build:
      context: services
      dockerfile: Dockerfile.fmus
    image: jpo_firmware_manager_upgrade_scheduler:latest
    restart: on-failure:3

    ports:
      - '8089:8080'
    environment:
      PG_DB_HOST: ${PG_DB_HOST:-cvmanager_postgres:5432}
      PG_DB_NAME: ${PG_DB_NAME:-postgres}
      PG_DB_USER: ${PG_DB_USER:-postgres}
      PG_DB_PASS: ${PG_DB_PASS:-postgres}

      UPGRADE_RUNNER_ENDPOINT: ${FIRMWARE_MANAGER_UPGRADE_RUNNER_ENDPOINT:-http://firmware_manager_upgrade_runner:8090}

      LOGGING_LEVEL: ${FIRMWARE_MANAGER_LOGGING_LEVEL:-}
    volumes:
      - ${HOST_BLOB_STORAGE_DIRECTORY:-./local_blob_storage}:/mnt/blob_storage
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  firmware_manager_upgrade_runner:
    profiles:
      - addons
      - firmware_manager_upgrade_runner
    build:
      context: services
      dockerfile: Dockerfile.fmur
    image: jpo_firmware_manager_upgrade_runner:latest
    restart: on-failure:3

    ports:
      - '8090:8080'
    environment:
      BLOB_STORAGE_PROVIDER: ${BLOB_STORAGE_PROVIDER:-DOCKER}
      BLOB_STORAGE_BUCKET: ${BLOB_STORAGE_BUCKET:-DOCKER}

      FW_UPGRADE_MAX_RETRY_LIMIT: ${FW_UPGRADE_MAX_RETRY_LIMIT:-3}

      GCP_PROJECT: ${GCP_PROJECT_ID:-}
      GOOGLE_APPLICATION_CREDENTIALS: /home/gcp_key.json

      SMTP_SERVER_IP: ${SMTP_SERVER_IP}
      SMTP_EMAIL: ${SMTP_EMAIL}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}

      UPGRADE_SCHEDULER_ENDPOINT: ${FIRMWARE_MANAGER_UPGRADE_SCHEDULER_ENDPOINT:-http://firmware_manager_upgrade_scheduler:8090}

      LOGGING_LEVEL: ${FIRMWARE_MANAGER_LOGGING_LEVEL:-}
    volumes:
      - ./resources/google/${GOOGLE_ACCESS_KEY_NAME:-sample_gcp_service_account.json}:/home/gcp_key.json
      - ${HOST_BLOB_STORAGE_DIRECTORY:-./local_blob_storage}:/mnt/blob_storage
    logging:
      options:
        max-size: '10m'
        max-file: '5'
