include:
  - ./jpo-utils/docker-compose-mongo.yml
  - ./jpo-utils/docker-compose-connect.yml

services:
  conflictmonitor:
    profiles:
      - conflictmonitor
      - conflictmonitor_only
    image: ${DOCKERHUB_HOST:-usdotjpoode}/jpo-conflictmonitor:${DOCKERHUB_RELEASE:-2025-q2}
    restart: ${RESTART_POLICY}
    ports:
      - '8082:8082'
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP:?error}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS:?error}
      CONNECT_URL: ${CONNECT_URL:-http://kafka-connect:8083}
      spring.kafka.bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:?error}
      ROCKSDB_TOTAL_OFF_HEAP_MEMORY: 134217728
      ROCKSDB_INDEX_FILTER_BLOCK_RATIO: 0.1
      ROCKSDB_TOTAL_MEMTABLE_MEMORY: 67108864
      ROCKSDB_BLOCK_SIZE: 4096
      ROCKSDB_N_MEMTABLES: 2
      ROCKSDB_MEMTABLE_SIZE: 16777216
    healthcheck:
      test: ['CMD', 'java', '-version']
      interval: 10s
      timeout: 10s
      retries: 20
    logging:
      options:
        max-size: '10m'
        max-file: '5'
    deploy:
      resources:
        limits:
          memory: 3G
    depends_on:
      kafka:
        condition: service_healthy
        required: false

  ode:
    profiles:
      - conflictmonitor
      - ode
    image: ${DOCKERHUB_HOST:-usdotjpoode}/jpo-ode:${DOCKERHUB_RELEASE:-2025-q2}
    restart: ${RESTART_POLICY}
    ports:
      - '8080:8080'
      - '9090:9090'
      - '46753:46753/udp'
      - '46800:46800/udp'
      - '47900:47900/udp'
      - '44900:44900/udp'
      - '44910:44910/udp'
      - '44920:44920/udp'
      - '44930:44930/udp'
      - '44940:44940/udp'
      - '44990:44990/udp'
      - '5555:5555/udp'
      - '6666:6666/udp'
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP:?error}
      ODE_KAFKA_BROKERS: ${DOCKER_HOST_IP}:9092
      KAFKA_LINGER_MS: 1
      KAFKA_ACKS: all
      KAFKA_RETRIES: 0
      KAFKA_BATCH_SIZE: 16384
      KAFKA_BUFFER_MEMORY: 33554432
      KAFKA_COMPRESSION_TYPE: zstd
      KAFKA_KEY_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
      KAFKA_VALUE_SERIALIZER: org.apache.kafka.common.serialization.StringSerializer
      KAFKA_PARTITIONER_CLASS: org.apache.kafka.clients.producer.internals.DefaultPartitioner
      ODE_TIM_INGEST_MONITORING_ENABLED: true
      ODE_TIM_INGEST_MONITORING_INTERVAL: 60
      ODE_STOMP_EXPORTER_ENABLED: true
      DATA_SIGNING_ENABLED_RSU: false
      DATA_SIGNING_ENABLED_SDW: false
    depends_on:
      kafka:
        condition: service_healthy
        required: false
    healthcheck:
      test: ['CMD', 'wget', '--spider', 'http://localhost:8080']
      interval: 5s
      timeout: 30s
      retries: 5
      start_period: 10s
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  adm:
    profiles:
      - conflictmonitor
      - adm
    image: ${DOCKERHUB_HOST:-usdotjpoode}/asn1_codec:${DOCKERHUB_RELEASE:-2025-q2}
    restart: ${RESTART_POLICY}
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP}
      ACM_CONFIG_FILE: adm.properties
      ACM_LOG_TO_CONSOLE: false
      ACM_LOG_TO_FILE: true
      ACM_LOG_LEVEL: WARNING
    depends_on:
      kafka:
        condition: service_healthy
        required: false
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  aem:
    profiles:
      - conflictmonitor
      - aem
    image: ${DOCKERHUB_HOST:-usdotjpoode}/asn1_codec:${DOCKERHUB_RELEASE:-2025-q2}
    restart: ${RESTART_POLICY}
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP}
      ACM_CONFIG_FILE: aem.properties
      ACM_LOG_TO_CONSOLE: false
      ACM_LOG_TO_FILE: true
      ACM_LOG_LEVEL: WARNING
    depends_on:
      kafka:
        condition: service_healthy
        required: false
    logging:
      options:
        max-size: '10m'
        max-file: '5'

  geojsonconverter:
    profiles:
      - conflictmonitor
      - geojsonconverter
    image: ${DOCKERHUB_HOST:-usdotjpoode}/geojsonconverter:${DOCKERHUB_RELEASE:-2025-q2}
    restart: ${RESTART_POLICY}
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 2G
    environment:
      DOCKER_HOST_IP: ${DOCKER_HOST_IP:?error}
      geometry.output.mode: GEOJSON_ONLY
      spring.kafka.bootstrap-servers: ${DOCKER_HOST_IP:?error}:9092
    logging:
      options:
        max-size: '10m'
        max-file: '5'
    depends_on:
      kafka:
        condition: service_healthy
        required: false

volumes:
  ode_vol:
