# Environment variable file for the JPO CV Manager API deployment through docker-compose
# Environment variable file for the JPO CV Manager API deployment through docker-compose
DOCKER_HOST_IP=
WEBAPP_HOST_IP=${DOCKER_HOST_IP}
API_HOST_IP=${DOCKER_HOST_IP}
KC_HOST_IP=${DOCKER_HOST_IP}

# PostgreSQL Database connection information (connects over websocket)
PG_DB_IP=${DOCKER_HOST_IP}
PG_DB_PORT=5432
PG_DB_USER=
# If the PG_DB_PASS variable has special characters, make sure to wrap it in single quotes
PG_DB_PASS=
PG_DB_NAME=

# Keycloak authentication crendentials
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

# Keycloak Parameters - to generate secret key use a password generator such as: https://www.avast.com/en-us/random-password-generator#pc and set the length to 32
KEYCLOAK_REALM=
KEYCLOAK_API_CLIENT_ID=
KEYCLOAK_API_CLIENT_SECRET_KEY=

# GCP OAuth2.0 client ID for SSO authentication in keycloak - if not specified the google SSO will not be functional
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mapbox token for map rendering in the webapp
MAPBOX_TOKEN=

# Set to either "BIGQUERY" or "MONGODB" depending on message count location.
COUNTS_DB_TYPE="BIGQUERY"

# MongoDB variables
MONGO_DB_URI=
MONGO_DB_NAME=

# Set these variables if using either "MongoDB" or "BigQuery"
# COUNTS_DB_NAME: Used for V2X message counts
COUNTS_DB_NAME=
BSM_DB_NAME=
SSM_DB_NAME= 
SRM_DB_NAME= 

# Deprecated function for externally handling SSH
RSU_REST_ENDPOINT= 

# WZDx API key and endpoint for pulling WZDx data into the CV Manager
WZDX_API_KEY= 
WZDX_ENDPOINT= 

# Python timezone for the CV Manager (You can list pytz timezones with the command 'pytz.all_timezones')
TIMEZONE="US/Mountain"

# Levels are "DEBUG", "INFO", "WARNING", and "ERROR"
API_LOGGING_LEVEL="INFO"
# Supported log levels are "ALL", "DEBUG", "ERROR", "FATAL", "INFO", "OFF", "TRACE" and "WARN"
KC_LOGGING_LEVEL="INFO"