<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>github</id>
            <username>jpo_conflictvisualizer</username>
            <password>${env.MAVEN_GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>github_jpo_ode</id>
            <username>jpo_conflictvisualizer</username>
            <password>${env.MAVEN_GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>github_jpo_geojsonconverter</id>
            <username>jpo_conflictvisualizer</username>
            <password>${env.MAVEN_GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>github_jpo_conflictmonitor</id>
            <username>jpo_conflictvisualizer</username>
            <password>${env.MAVEN_GITHUB_TOKEN}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <name>GitHub Apache Maven Packages</name>
                    <url>https://maven.pkg.github.com/${env.MAVEN_GITHUB_ORG}/jpo-ode</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github_jpo_ode</id>
                    <name>GitHub JPO ODE</name>
                    <url>https://maven.pkg.github.com/${env.MAVEN_GITHUB_ORG}/jpo-ode</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github_jpo_geojsonconverter</id>
                    <name>GitHub JPO GeojsonConverter</name>
                    <url>https://maven.pkg.github.com/${env.MAVEN_GITHUB_ORG}/jpo-geojsonconverter</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github_jpo_conflictmonitor</id>
                    <name>GitHub JPO ConflictMonitor</name>
                    <url>https://maven.pkg.github.com/${env.MAVEN_GITHUB_ORG}/jpo-conflictmonitor</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>