.legend {
  z-index: 90;
  margin: 10px;
  border-radius: 15px;
  height: fit-content;
}

.legend-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.rsu-status-div {
  z-index: 90;
  border-radius: 15px;
  position: absolute;
  top: 175px;
  left: 310px;
  padding: 10px;
}

.form-dropdown {
  width: 100%;
}

.rw-dropdown-list-value {
  font-family: Arial, Helvetica, sans-serif;
}

.rw-list-option {
  font-family: Arial, Helvetica, sans-serif;
}

.form-group-row {
  gap: 50px;
}

.mapboxgl-popup-close-button {
  font-size: 24px;
  top: 8px;
  right: 10px;
}

.mapboxgl-popup-content {
  background-color: var(--mui-palette-background-paper);
  width: 350px;
  height: 250px;
}

.menu-container {
  z-index: 90;
  background: #3d3d3d;
  position: absolute;
  top: 175px;
  max-height: calc(100% - 205px);
  overflow-y: auto;
  scrollbar-color: var(--mui-palette-text-primary) var(--mui-palette-background-paper);
  left: 30px;
  border-radius: 5px;
}
