.control {
  height: fit-content;
  width: 250px;
  padding: 10px;
  position: absolute;
  z-index: 90;
  left: 340px;
  top: 144px;
  border-radius: 4px;
}

.filterControl {
  height: fit-content;
  width: 300px;
  padding: 10px;
  position: absolute;
  z-index: 90;
  left: 340px;
  top: 144px;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 50px;
}

.submitContainer {
  width: '100%';
  display: flex;
  justify-content: center;
  align-items: center;
}

#controlContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 15px 0px;
}

#stepSelect {
  width: fit-content;
}

#sliderContainer .MuiSlider-mark {
  background-color: #ffd600 !important;
  height: 16px !important;
  width: 4px !important;
  border-radius: 2px !important;
  z-index: 0 !important;
}

#sliderContainer .MuiSlider-markLabel {
  font-size: 0.75rem !important;
  color: var(--mui-palette-text-secondary, #bdbdbd) !important;
}

.slider-legend-bar {
  width: 4px;
  height: 16px;
  background-color: #ffd600;
  border-radius: 2px;
  display: inline-block;
  margin-right: 4px;
}

/* hides the track line */
#sliderContainer .MuiSlider-track {
  background: transparent !important;
  border: none !important;
}
