.control {
  height: fit-content;
  width: 250px;
  padding: 10px;
  position: absolute;
  z-index: 90;
  left: 340px;
  top: 144px;
  border-radius: 4px;
}

.filterControl {
  height: fit-content;
  width: 250px;
  padding: 10px;
  position: absolute;
  z-index: 90;
  left: 340px;
  top: 144px;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 50px;
}

.submitContainer {
  width: '100%';
  display: flex;
  justify-content: center;
  align-items: center;
}

#controlContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 15px 0px;
}

#stepSelect {
  width: fit-content;
}
