pytest==7.4.2
pytest-cov==4.1.0
mock==5.1.0
coverage==7.3.2
freezegun==1.2.2
pytest-env==1.0.1
confluent-kafka==2.3.0
google-cloud-bigquery==3.14.1
google-cloud-secret-manager==2.17.0
google-cloud-storage==2.14.0
APScheduler==3.10.4
google-auth==2.25.2
DateTime==5.2
requests==2.31.0
pymongo==4.5.0
sqlalchemy==2.0.21
pg8000==1.30.2
python-dateutil==2.8.2
flask==3.0.0
flask_restful==0.3.10
marshmallow==3.20.1
gunicorn==21.2.0
pytz==2023.3.post1
Werkzeug==3.0.0
uuid==1.30
multidict==6.0.5
python-keycloak==2.16.2
fabric==3.2.2
paramiko==3.3.1
scp==0.14.5
waitress==2.1.2
