pytest==7.4.2
mock==5.1.0
coverage==7.3.2
freezegun==1.2.2
pytest-env==1.0.1
kafka-python==2.0.2
google-cloud-bigquery==3.12.0
google-cloud-secret-manager==2.16.4
APScheduler==3.10.4
google-auth==2.23.2
DateTime==5.2
requests==2.31.0
pymongo==4.5.0
sqlalchemy==2.0.21
pg8000==1.30.2
python-dateutil==2.8.2
flask==3.0.0
flask_restful==0.3.10
marshmallow==3.20.1
gunicorn==21.2.0
pytz==2023.3.post1
Werkzeug==3.0.0
uuid==1.30
multidict==6.0.4
python-keycloak==2.16.2