LOGGING_LEVEL = 'INFO'

ENABLE_EMAILER = 'True'

# If ENABLE_EMAILER is 'True', set the following environment variables

DEPLOYMENT_TITLE = 'JPO-ODE'

# POSTGRES DATABASE VARIABLES
PG_DB_HOST = ':5432'
PG_DB_USER =
PG_DB_PASS = ''
PG_DB_NAME = 

# MONGODB REQUIRED VARIABLES
MONGO_DB_URI = 'mongodb://:27017/'
MONGO_DB_NAME = ''

# Error Email Configuration (proxied email sending through the intersection api)
IAPI_ENDPOINT=http://${DOCKER_HOST_IP}:8089
KC_SA_CLIENT_ID=sa_count_metric
KC_SA_CLIENT_SECRET=sa-count-metric-secret-key

# ---------------------------------------------------------------------
# If ENABLE_EMAILER is 'False', set the following environment variables

PROJECT_ID = ''
ODE_KAFKA_BROKERS = ':9092'

# POSTGRES DATABASE VARIABLES
PG_DB_HOST = ':5432'
PG_DB_USER =
PG_DB_PASS = ''
PG_DB_NAME = 

# EITHER "MONGODB" or "BIGQUERY"
DESTINATION_DB = 'MONGODB'

# MONGODB REQUIRED VARIABLES
MONGO_DB_URI = 'mongodb://:27017/'
MONGO_DB_NAME = ''
INPUT_COUNTS_MONGO_COLLECTION_NAME = ''
OUTPUT_COUNTS_MONGO_COLLECTION_NAME = ''

# BIGQUERY REQUIRED VARIABLES
KAFKA_BIGQUERY_TABLENAME = ''
