flask==3.0.0
flask_restful==0.3.10
marshmallow==3.20.1
gunicorn==21.2.0
google-auth==2.25.2
requests==2.31.0
sqlalchemy==2.0.21
pg8000==1.30.2
DateTime==5.2
python-dateutil==2.8.2
pytz==2023.3.post1
Werkzeug==3.0.0
python-keycloak==5.5.1
pymongo==4.5.0
fabric==3.2.2
google-cloud-bigquery==3.29.0
pandas==2.2.3
shapely==2.0.7
db-dtypes==1.4.0
PyJWT==2.10.1