kafka-python==2.0.2
google-cloud-bigquery==3.5.0
APScheduler==3.10.0
google-auth==2.16.0
DateTime==5.1
requests==2.30.0
pymongo==4.3.3
sqlalchemy==1.4.22
pg8000==1.20.0
python-dateutil==2.8.2
mock==5.0.2
pytest==7.3.1
coverage==7.2.5
freezegun