# RSU Info Bridge Environment Variables

## Docker Compose Profiles
COMPOSE_PROFILES=cvmanager_postgres,rsu-info-bridge

## Port to expose the API on
RSU_INFO_BRIDGE_PORT=16543

## PostgreSQL Database Configuration
POSTGRES_SERVER_URL=jdbc:postgresql://host.docker.internal:5432
POSTGRES_DB=postgres
PG_DB_USER=postgres
PG_DB_PASS=postgres
