LOGGING_LEVEL="INFO"

# Blob storage variables (only 'GCP' and 'DOCKER' are supported at this time)
BLOB_STORAGE_PROVIDER=DOCKER
BLOB_STORAGE_BUCKET=
## Docker volume mount point for BLOB storage (if using DOCKER)
HOST_BLOB_STORAGE_DIRECTORY=./local_blob_storage

# For users using GCP cloud storage
GCP_PROJECT=""
GOOGLE_APPLICATION_CREDENTIALS=""

# For sending failure emails
SMTP_SERVER_IP=
SMTP_EMAIL=
SMTP_USERNAME=
SMTP_PASSWORD=