.haas-alert-popup {
  height: 330px;
  width: 350px;
}

.haas-alert-header {
  color: var(--mui-palette-text-secondary);
  background-color: var(--mui-palette-background-paper);
  padding: 12px 16px;
  border-bottom: 1px solid var(--mui-palette-divider);
}

.haas-alert-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 4px;
}

.haas-alert-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 16px;
}

.haas-alert-title {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4px;
}

.haas-alert-subtitle {
  font-size: 0.875rem;
  text-transform: capitalize;
}

.haas-alert-status-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 4px;
}

.haas-alert-status-badge {
  color: var(--mui-palette-text-primary);
  width: 5rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.haas-alert-status-badge.active {
  background-color: var(--mui-palette-success-dark);
}

.haas-alert-status-badge.inactive {
  background-color: var(--mui-palette-error-dark);
}

.haas-alert-body {
  color: var(--mui-palette-text-secondary);
  background-color: var(--mui-palette-background-default);
  width: 350px;
  height: 220px;
  position: absolute;
  left: 0px;
  bottom: 60px;
  padding: 16px;
  overflow-y: auto;
}

.haas-alert-label {
  font-weight: 600;
  color: var(--mui-palette-text-primary);
}

.haas-alert-value {
  word-break: break-word;
}

.haas-alert-value-long {
  font-size: 0.75rem;
  word-break: break-all;
}

.haas-alert-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 350px;
  height: 60px;
  color: var(--mui-palette-text-secondary);
  background-color: var(--mui-palette-background-default);
  border-top: 1px solid var(--mui-palette-divider);
  padding: 12px 16px;
}

.haas-alert-footer-label {
  color: var(--mui-palette-text-secondary);
  font-size: 0.75rem;
}

.haas-alert-footer-id {
  font-size: 0.75rem;
  font-family: monospace;
  word-break: break-all;
  color: var(--mui-palette-text-primary);
  margin-top: 4px;
}
