@import 'https://use.typekit.net/ioz0eth.css';

#header {
  text-align: left;
  z-index: 100;
  width: 100%;
  padding: 8px 24px;
}

#frontpagelogo {
  height: 90px;
}

#frontgrid {
  margin-top: 20%;
}

#frontpage {
  font-family: 'museo-slab', Arial, Helvetica, sans-serif;
  font-size: 30px;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

#header-text {
  padding: 5px;
  margin-left: 10px;
  align-items: center;
}

#keycloakbtndiv {
  margin-top: 40px;
  font-family: 'museo-slab', Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 3px;
}

#login {
  padding: 10px 0px;
  margin-left: 100px;
  position: absolute;
  right: 10px;
}

#loginMessage {
  font-size: 25px;
  padding: 30px;
}

.user-info-btn {
  text-align: right;
}
