.rsu-marker {
    margin-top: -6px;
    margin-left: -6px;
}

.legend {
    z-index: 90;
    background: #0e2052;
    margin: 10px;
    border-radius: 15px;
}

.legend-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.legend-item {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.legend-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

.legend-input {
    margin-right: 10px;
    accent-color: #d16d15;
}
