@import 'https://use.typekit.net/ioz0eth.css';

.snmpheader2 {
  font-size: large;
  font-weight: 450;
  margin-bottom: 20px;
  margin-left: 15px;
}

#snmptxheader {
  font-family: 'museo-slab', Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 0px;
}

#snmprxheader {
  font-family: 'museo-slab', Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 0px;
}

#snmpform {
  margin-bottom: 20px;
}

#msgfwddiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
