#snmpitemdiv {
  margin-top: 15px;
  background-color: #0e2052;
  border-radius: 10px;
}

#snmpitemdiv:hover {
  cursor: pointer;
  background-color: #122c75;
}

#selectedsnmpitemdiv {
  margin-top: 15px;
  background-color: #122c75;
  border-radius: 10px;
}

#selectedsnmpitemdiv:hover {
  cursor: pointer;
}

#snmpitemheader {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 5px;
}

#snmpitemtext {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 10px;
  margin-top: 2px;
}

strong {
  color: #e37616;
}
