#snmpdiv {
  background-color: #0e2052;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 25px;
  padding-right: 35px;
  padding-bottom: 30px;
  padding-left: 30px;
  vertical-align: top;
  border: 1px solid white;
}

#updatediv {
  text-align: center;
}

.snmpheader {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: xx-large;
  font-weight: 550;
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
  margin-right: 4em;
}

.header-container {
  display: flex;
  align-items: center;
}

.snmpheader2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: large;
  font-weight: 450;
  margin-bottom: 20px;
  margin-left: 15px;
}

.adminHeader {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  text-align: left;
  color: white;
  font-family: sans-serif;
}

.firmwareHeader {
  color: white;
  font-size: x-large;
  font-weight: 550;
  margin-bottom: 12px;
  display: inline-block;
  margin-right: 4em;
}

#snmptxheader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  margin-top: 10px;
  margin-bottom: -15px;
}

#snmprxheader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  margin-top: 40px;
  margin-bottom: -15px;
}

.deletebutton {
  margin-left: 180px !important;
  margin-bottom: -360px !important;
}
#snmpform {
  margin-bottom: 20px;
}

#snmplabel {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#snmpinput {
  margin-left: 20px;
}

#snmpdropdown {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#snmpfiltertext {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 15px;
}

#msgfwddiv {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
