#ssmitemdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-bottom: 1px #0e2052 solid;
  background: #fff1d3;
}

#srmitemdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-bottom: 1px #0e2052 solid;
  background: #bdceff;
}

.btnActive {
  height: fit-content;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: white;
  background: #d16d15;
  border-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btnDisabled {
  height: fit-content;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: white;
  background: #888888;
  border-color: white;
  border-radius: 5px;
  font-weight: bold;
}

.ssmsrmitemtext {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e2052;
  width: 90px;
  padding: 5px;
}
