flask==2.0.2
flask_restful==0.3.9
marshmallow==3.14.1
gunicorn==20.1.0
google-auth==2.6.0
requests==2.27.1
sqlalchemy==1.4.22
pg8000==1.20.0
DateTime==4.3
google-cloud-bigquery==2.34.2
python-dateutil==2.8.2
pytz==2021.3
Werkzeug==2.1.2
python-keycloak==2.16.2
pymongo==4.3.3
pytest==7.4.0
pytest-cov==4.1.0
multidict==6.0.0