name: cv-manager

on:
  push:
    branches:
      - develop
      - cdot-release*
  pull_request:
    branches:
      - "**" # Run on PRs to any branch

jobs:
  test_change_limit:
    if: vars.MAX_CHANGED_FILES && github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: step-security/changed-files@v46

      - name: Check for large changes
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          # Check the number of changed files in the pull request
          CHANGED_FILES_COUNT=$(echo "$ALL_CHANGED_FILES" | wc -w)

          echo "Max allowed changed files: ${{ vars.MAX_CHANGED_FILES }}, Changed files in PR: $CHANGED_FILES_COUNT"

          if [ "$CHANGED_FILES_COUNT" -gt "${{ vars.MAX_CHANGED_FILES }}" ]; then
            echo "Error: Pull request has more than ${{ vars.MAX_CHANGED_FILES }} changed files. Please reduce the size of your changes."
            exit 1
          else
            echo "Pull request size is within the acceptable limit."
          fi

  build_api:
    needs: test_change_limit
    if: ${{ always() && !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    container:
      image: python:3.12.2
      options: --user root
    steps:
      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          apt-get update
          apt-get -y install python3-coverage python3-pip python3-pytest

      - name: Install Python Requirements
        run: python3 -m pip install -r $GITHUB_WORKSPACE/services/requirements.txt

      - name: Run Tests and Generate Coverage
        continue-on-error: false
        run: |
          # Set PYTHONPATH and navigate to the tests directory
          export PYTHONPATH=$PYTHONPATH:/usr/lib/python3/dist-packages
          cd $GITHUB_WORKSPACE/services

          # Run tests and generate coverage report
          python3 -m coverage run -m pytest
          python3 -m coverage xml --omit="/opt/*,/root/*,/tmp/*,/usr/*,/var/*,**/__init__.py"

      - name: Archive Code Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: build_api
          path: services/coverage.xml

      - name: Find coverage.xml
        shell: bash
        run: |
          find "$GITHUB_WORKSPACE/services" -name "coverage.xml"

  webapp:
    needs: test_change_limit
    if: ${{ always() && !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    container:
      image: node:19.8.1
      options: --user root
      env:
        CI: true
    steps:
      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v4

      - name: Build Web Application
        continue-on-error: false
        run: |
          # Navigate to the webapp directory and perform necessary setup
          cd $GITHUB_WORKSPACE/webapp
          npm install -g nodemon
          npm init -y
          npm install --force

          # Run tests with coverage and suppress failures
          npm test -- --coverage

      - name: Archive Code Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: webapp
          path: webapp/coverage/*

      - name: Find lcov.info
        shell: bash
        run: |
          find "$GITHUB_WORKSPACE" -name "lcov.info"

  build_keycloak_provider:
    needs: test_change_limit
    if: ${{ always() && !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    container:
      image: maven:3.9.9-eclipse-temurin-21
      options: --user root
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "21"

      - name: Build and Test with Maven
        run: |
          cd $GITHUB_WORKSPACE/resources/keycloak/custom-user-provider
          mvn clean install

      - name: Archive Test Results
        uses: actions/upload-artifact@v4
        with:
          name: keycloak-user-provider-test-results
          path: $GITHUB_WORKSPACE/resources/keycloak/custom-user-provider/target/surefire-reports

  build_intersection_api:
    needs: test_change_limit
    if: ${{ always() && !failure() && !cancelled() }}
    runs-on: ubuntu-latest
    container:
      image: maven:3.9.9-eclipse-temurin-22
      options: --user root
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-${{ hashFiles('**/settings.xml') }}-${{ runner.os }}-java-22
          restore-keys: |
            ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-${{ runner.os }}-java-22
            ${{ runner.os }}-maven-${{ runner.os }}-java-22
            ${{ runner.os }}-maven

      - name: Install Dependencies
        env:
          MAVEN_GITHUB_TOKEN: ${{ secrets.MAVEN_GITHUB_TOKEN }}
          MAVEN_GITHUB_ORG: "usdot-jpo-ode"
        run: |
          cd $GITHUB_WORKSPACE/services/intersection-api/api
          mvn clean install -DskipTests -s ./settings.xml
          mvn dependency:go-offline -s ./settings.xml

      - name: Run tests
        env:
          MAVEN_GITHUB_TOKEN: ${{ secrets.MAVEN_GITHUB_TOKEN }}
          MAVEN_GITHUB_ORG: "usdot-jpo-ode"
        run: |
          cd $GITHUB_WORKSPACE/services/intersection-api/api
          mvn verify -s ./settings.xml

      - name: Archive Test Results
        uses: actions/upload-artifact@v4
        with:
          name: intersection-api-test-results
          path: $GITHUB_WORKSPACE/services/intersection-api/api/target/surefire-reports

      - name: Clean up
        run: |
          rm -rf $GITHUB_WORKSPACE/services/intersection-api/api/target

  sonar:
    if: github.event.pull_request.base.repo.owner.login == 'usdot-jpo-ode'
    needs: [build_api, webapp]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download code coverage results
        uses: actions/download-artifact@v4
        continue-on-error: false
        with:
          name: build_api
          path: services/coverage.xml

      - name: Download Code Coverage Results
        uses: actions/download-artifact@v4
        with:
          name: webapp
          path: webapp

      - name: Find coverage.xml
        shell: bash
        run: |
          find "$GITHUB_WORKSPACE" -name "coverage.xml"

      - name: Find lcov.info
        shell: bash
        run: |
          find "$GITHUB_WORKSPACE" -name "lcov.info"

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Setup SonarScanner
        uses: warchant/setup-sonar-scanner@v7

      - name: Generate Sonar Properties File
        run: |
          cat <<EOF > /tmp/sonar-scanner.properties
          sonar.host.url=https://sonarcloud.io
          sonar.exclusions=**/__init__.py,**/*test*.py,**/test/**
          sonar.coverage.exclusions=**/__init__.py,**/*test*.py,**/test/**
          sonar.javascript.lcov.reportPaths=/home/runner/work/jpo-cvmanager/jpo-cvmanager/webapp/lcov.info
          sonar.modules=api,webapp
          sonar.organization=usdot-jpo-ode
          sonar.projectBaseDir=$GITHUB_WORKSPACE
          sonar.projectKey=usdot-jpo-ode_jpo-cvmanager
          sonar.projectName=jpo-cvmanager
          sonar.python.coverage.reportPaths=$GITHUB_WORKSPACE/services/coverage.xml
          sonar.python.version=3.12.2
          api.sonar.projectBaseDir=$GITHUB_WORKSPACE/services
          api.sonar.sources=addons/images/count_metric,addons/images/firmware_manager,addons/images/iss_health_check,addons/images/rsu_status_check,api/src,common/pgquery.py
          api.sonar.tests=addons/tests,api/tests,common/tests
          webapp.sonar.projectBaseDir=$GITHUB_WORKSPACE/webapp
          webapp.sonar.sources=src
          EOF

      - name: Run SonarScanner
        uses: usdot-fhwa-stol/actions/sonar-scanner@main
        with:
          sonar-properties-path: /tmp/sonar-scanner.properties
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          working-dir: $GITHUB_WORKSPACE
